// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lettercontainer {
  display: flex;
  justify-content: space-between;
}

.letterbox {
  display: flex;
  justify-content: center;
  align-items: center;
  // ali
  border: 2px solid black;
  // padding: 5px;
  height: 40px;
  width: 40px;
  margin: 10px;
  // text-align: center;
  // vertical-align: middle;
  background: lightseagreen;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px #888888;
}
